.article-item-left .highlight {
    display: inline-block;
    color: #343434;
    transition: color 250ms, text-shadow 250ms;
    text-decoration: none;
    text-shadow: 0px 1px 0px white;
    position: relative;
    z-index: 0;
}

.article-item-left .highlight::after {
    position: absolute;
    z-index: -1;
    bottom: -0.5px;
    left: 50%;
    transform: translateX(-50%);
    content: '';
    width: 100%;
    height: 2px;
    background-color: #343434;
    transition: all 250ms;
}

.article-item-left .highlight:hover {
    color: white;
    text-shadow: 0px 1px 0px black;
}

.article-item-left .highlight:hover::after {
    height: 105%;
    width: 102%;
}

.top-container {
    padding: calc(10vh + 4.1vw) 8vw calc(12vh + 5vw);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.article-title {
    font-weight: bold;
    font-size: calc(3.8vh + 1.8vw);
    margin: auto;
    text-shadow: 0 0 20px black;
}

.article-category {
    font-size: calc(1.2vw + 1.7vh);
    font-family: 'Montserrat', sans-serif;
    text-shadow: 0 0 20px black;
    margin-bottom: 6vh;
}

.article-body {
    padding: calc(2vh + 2vw) calc(3vw + 2vh);
    color: #080810;
    background-color: white;
    display: flex;
}

.article-container {
    margin: -13vh 8vw 6vh;
    border-top: solid 5px #4B91F5;
}

.article-shadow {
    position: absolute;
    width: 90vw;
    height: 100px;
    top: 600px;
}

.article-shadow::after {
    content: url(../img/shadow.png);
    left: -8px;
    position: absolute;
}

.article-shadow::before {
    content: url(../img/shadow-inverse.png);
    right: -8px;
    position: absolute;
}

p {
    margin-top: 0px;
}

article {
    text-align: justify;
    color: black;
    font-size: calc(0.8vw + 1vh);
    font-family: sans-serif;
}

.left-content {
    position: sticky;
    top: 70px;
}

.article-item-left {
    width: 100%;
}

.article-item-right {
    margin-left: 5vw;
    width: 45%;
    /* position: sticky; */
}

h5 {
    margin-top: 0px;
    font-family: 'Montserrat', sans-serif;
    font-size: calc(1vw + 0.3vh);
}

h6 {
    text-align: left;
    margin-top: 1em;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2vw;
    color: black;
}

.related-article-container img {
    max-height: 100%;
    width: 100%;
}

main {
        padding: 0;
}

h1 {font-size: calc(4.5vw + 3.5vh);}

iframe {
    width: 100%;
    max-height: 32vw;
    padding: 1rem 0% 2rem;
    border : 0;
}

article > img {
    width: 100%;
}


article>p:first-child {
    font-weight: bolder;
}

body {
    background-image: none;
}