/* CSS Titre / Logo TRANSHUMANISME */
@import url('https://fonts.googleapis.com/css?family=Montserrat:600&display=swap');
@import url('https://fonts.googleapis.com/css?family=Merriweather&display=swap');

h1 {
    margin-bottom: calc(6vh);
    letter-spacing: 3px;
    font-family: 'ELECTRICBOOTS';
    overflow: hidden;
    margin-top: 0;
    background-image: none;
    background-size: initial;
    color: rgba(255, 255, 255, 1);
    -moz-background-clip: text;
    -webkit-background-clip: text;
    animation: stopGIF 2s;
    animation-timing-function: cubic-bezier(1, 0.04, 0.99, -0.12);
    font-size: calc(4.5vw + 3.5vh);
}

@keyframes stopGIF {
  from {
    background-image: url(../img/glitch-white-x4.gif);
    color: rgba(0, 0, 0, 0.02);
  }
  to {
    background-image: none;
    color: rgba(255, 255, 255, 1);
  }
}

@font-face {
    font-family: 'ELECTRICBOOTS';
    src: url(../fonts/ELECTRICBOOTS.ttf);
}



/* CSS Navbar */
header {
    position: fixed;
    width: 100%;
}

nav img{
    vertical-align: middle;
    position: relative;
    height: calc(2vw + 2vh);
   }
nav {
    background-color: rgba(0,0,0,0.90);
    box-shadow: 0px 2px 6px 0px black;
}
h3 {
    font-size: calc(1vw + 0.6vh + 1px);
    margin: 0;
   
}

li {
    margin: 2.2vh calc(2.8vw - 0.8vh);
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
}


ul {
    vertical-align: middle;
    display: inline;
    margin: auto;
    padding: 0px;
}

li a:after {
    content: '';
    display: block;
    height: 1px;
    width: 0px;
    transition: width .5s ease, background-color .5s ease;
}

li a:hover:after {
    width: 100%;
    background: #fff;
}


/* CSS générale*/
body {
    background-image: url(../img/background_img3.gif);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    background-attachment: fixed;
    margin: 0px;
}


html {
    font-family: 'Merriweather', serif;
    color: white;
    text-align: center;
    align-items: center;
    align-self: center;
    align-content: center;
}

a {
    cursor: pointer;
    color: white;
    text-decoration: none;
}

h1 > a {
    color: inherit;
}

/* main est le conteneur du contenu de la page*/
main {
    padding: 10vh 8vw 0;
}


/* Animation logo acceuil */
nav a:hover img{
    transform: scale(1.2, 1.2);
    filter: brightness(50%);
}


.souligne:after {
    content: '';
    display: block;
    height: 1px;
    width: 100%;
    background: #fff;
}