.problematique {
    text-shadow: 10px 6px 20px black;
    font-weight: bold;
    font-size: calc(12px + 2vw);
    margin: 0;
    text-shadow: 0 0 3px rgba(0,0,0,0.93);
}

h1 {
    font-size: calc(4.5vw + 3.5vh);
    margin-top: 9vh;
}