main {
    background-position-x : center;
    background-size : cover;
    background-repeat : no-repeat;
    }
    
    .article-image {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 75%;
    }
html{
    background-image: url(./../img/livres.jpg);
}
.biblipuce a{
color: black;
}

.biblipuce a:hover{
background-color: rgba(0,0,0,0.1)
}

h2{
font-family: 'Montserrat' , sans-serif;
}

h4{
border: 1px solid black;
}
.biblipuce {
display: grid;
text-align: center;
border-left: 1px solid;
border-right: 1px solid;
}