.article-image {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 75%;
}

h2{
font-family: 'Montserrat' , sans-serif;
}

body {
        background-image: url(./../img/synthese-min.png)
}