main {
    background-position-x : center;
    background-size : cover;
    background-repeat : no-repeat;
    }
    
    .article-image {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 75%;
    }
.top-container{
    background-image: url(../../img/serveurs.jpg);
}


#gif .hide{
    opacity: 0;
}

#gif:hover .hide{
  animation-timing-function: cubic-bezier(1, 0.02, 0.8, 0.28);
  animation: fadeIn 1s, wait 3s, fadeOut 1s;
  opacity: 1;
}

.hide {
  position: absolute;
}

#gif {
  width: fit-content;
}


@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}