main {
    background-position-x : center;
    background-size : cover;
    background-repeat : no-repeat;
    }
    
    .article-image {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 75%;
    }
body{
    background-image: url(./../img/planete.jpg);
}
a{

}

h2{
font-family: 'Montserrat' , sans-serif;
}

h1{

}