main {
    background-position-x : center;
    background-size : cover;
    background-repeat : no-repeat;
    }
    
    .article-image {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 75%;
    }
.top-container{
    background-image: url(../../img/exosquelette.png);
}

