.flexbox-container {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
}

.flex-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.POUR, .CONTRE {
    width: calc(15vh + 9.5vw);
    padding: 1px;
}


div img{
    
/* permet d'encadrer l'image */
    
/* Modifie le temps d'animation de la taille de l'image et son opacité */
    transition: transform 0.5s ease, filter 0.5s ease;
}

/* Overlay */
/* Modifie la taille de l'image et son opacité */
a:hover img{
    transform: scale(1.2, 1.2);
    filter: brightness(50%);
}
/* Modifie la taille du texte et son déplacement */
a:hover .textFav,a:hover .textDefav{
    transform: scale(1.2, 1.2) translate(-5px, -5px);
}
/* modifie coleur encadrement*/
a:hover .POUR {
    background-color: greenyellow;
}

a:hover .CONTRE {
    background-color: red;
}
/*position texte*/
.overlay-image {
    position: relative;
    text-align: center;
    margin: auto;
    margin-bottom: 3vh;
}
/* Modifie position, texte, police, temps animation */
.textFav,.textDefav {
    position: absolute;
    top: 0px;
    text-shadow: 2px 2px 2px black;
    font-family: sans-serif;
    transform: scale(0, 0);
    transition: transform 0.5s ease;
}
/* Modifie couleur texte*/
.textFav {
    color: limegreen;
}

.textDefav {
    color: red;
}

/* CSS titre */
h1 {
  font-size: calc(4vw + 3.5vh);
}

.souligne:after {
    content: '';
    display: block;
    height: 1px;
    width: 100%;
    background: #fff;
}